* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px Helvetica, Arial; 
}

.app {
    display: flex;
    flex-direction:column;
    height: 100vh
}

.main-container {
    flex: 1 1 auto;
    display: flex;
}

.header {
    flex: 0 0 auto;
    background: gray;
    text-align: center;
    background: #666;
    font: 20px;
    font-weight: 900;
    color: white;
    height: 2em;
}

.gangs-component {
    flex: 1 1 0;
    text-align: center;
    overflow: auto;
    background: #CB8A73;
}

.threads-component {
    flex: 1 1 0;
    text-align: center;
    overflow: auto;
    background: #BB99DA;
}

.messages-component {
    flex: 2 2 0;
    display: flex;
    flex-direction: column;
    background: #8ED1D1;
}

.messages {
    flex: 1 1 0;
    overflow: auto;
}

.form {
    flex: 0 0 auto;
    height: 2em;
    display: flex;
}

input.form-input {
    flex: 1 1 0;
}

input.form-button {
    flex: 0 0 auto;
}
