* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px Helvetica, Arial; 
}

.app {
  display: flex;
  flex-direction:column;
  height: 100vh
}
.main-container {
    flex: 1 1 auto;
    background: #D0D0D0;
    display: flex;
}

.header {
    flex: 0 0 auto;
    background: gray;
    height: 2em;
}

.gangs-component {
    flex: 1 1 0;
    overflow: auto;
}

.threads-component {
    flex: 1 1 0;
    overflow: auto;
}

.messages-component {
    flex: 2 2 0;
    display: flex;
    flex-direction: column;
}

.messages {
    flex: 1 1 0;
    overflow: auto;
}

.form {
    flex: 0 0 auto;
    height: 2em;
    display: flex;
}

input.form-input {
    flex: 1 1 0;
}

input.form-button {
    flex: 0 0 auto;
}
